:root {
    --cont-padding: 20px;
}

html, body {
    background: url('../img/polygons.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0;
    padding: var(--cont-padding);
    background: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    text-align: center;
}

b {
    color: #fff;
}

p>a:has(img), p>a:hover:has(img) {
    color: transparent;
}

p:has(img[alt="separator"]) {
    display: flex;
    align-self: center;
}

a {
    /* clickable images */
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

img[alt="separator"] {
    width: calc(100vw - (var(--cont-padding) * 2));
    height: auto;
}

@media (pointer:none), (pointer:coarse) {
    html, body {
        background-attachment: scroll;
        background-position: 77.5% 50%;
    }

    img {
        max-width: 80vw;
    }
}