@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-scheme-dark: #560090;
    --color-scheme-light: #b300fc;
    --dark-bg: #100823;
    --neon-color-2: 0 0 7px var(--color-scheme-light), 0 0 10px var(--color-scheme-light),
        0 0 20px var(--color-scheme-light), 0 0 50px var(--color-scheme-light), 0 0 70px var(--color-scheme-light),
        0 0 100px var(--color-scheme-light), 0 0 120px var(--color-scheme-light), 0 0 157px var(--color-scheme-light);
}

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: var(--color-scheme-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scheme-dark);
    background: linear-gradient(135deg, var(--color-scheme-dark) 0%, var(--color-scheme-light) 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scheme-light);
}

a {
    color: #fff;
}

a:hover {
    color: #ffffffaa;
    text-decoration: underline;
}

p {
    font-size: 1.3rem;
}

html, body {
    background-color: var(--dark-bg);
}

.noselect {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax h1 {
    color: #fff;
    font-size: 9vmin;
    text-align: center;
}

.parallax h1 span {
    animation: flicker 3s linear infinite;
    -webkit-animation: flicker 3s linear infinite;
}

.parallax-1 {
    background-image: url('../img/polygons.svg');
}

.parallax-2 {
    background-image: url('../img/lines.svg');
}

.parallax-3 {
    background-image: url('../img/triangles.svg');
}

.parallax-4 {
    background-image: url('../img/mountains2.svg');
}

.content {
    color: #fff;
    font-size: 24px;
    height: fit-content;
    padding: 25px;
    background: var(--color-scheme-dark);
    background: linear-gradient(135deg, var(--color-scheme-dark) 0%, var(--color-scheme-light) 100%);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.content h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.censor {
    text-decoration: line-through;
    color: #ffffffaa;
}

.thoughts {
    font-style: italic;
    font-weight: 300;
}

.skull-emoji {
    position: fixed;
    display: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    z-index: 999;
    pointer-events: none;
}

.repo-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.repo-info p {
    margin: 5px 0;
}

#contributors {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#contributors li {
    margin: 5px;
}

#contributors li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

#contributors li img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #00000033;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    gap: 5px;
}

.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-container h2 {
    margin-bottom: 10px;
}

.profile-container p {
    margin-bottom: 8px;
}

/* https://stackoverflow.com/questions/14942081/detect-if-a-browser-in-a-mobile-device-ios-android-phone-tablet-is-used */
@media (pointer:none), (pointer:coarse) {
    .parallax {
        background-attachment: scroll;
    }

    .parallax-2 {
        background-position: 37.5% 50%;
    }

    .parallax:not(.parallax-1) {
        height: 40vh;
    }

    p {
        font-size: 16px;
    }

    h2, h1 {
        font-size: 9vmin;
    }
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 1;
        text-shadow: var(--neon-color-2);
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@-webkit-keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 1;
        text-shadow: var(--neon-color-2);
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}