html, body {
    background-color: var(--dark-bg);
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax h1 {
    color: #fff;
    text-align: center;
}

.parallax h1 span {
    animation: flicker 3s linear infinite;
    -webkit-animation: flicker 3s linear infinite;
}

.parallax-1 {
    background-image: url('../img/polygons.svg');
}

.parallax-2 {
    background-image: url('../img/lines.svg');
}

.parallax-3 {
    background-image: url('../img/triangles.svg');
}

.parallax-4 {
    background-image: url('../img/mountains2.svg');
}

.content {
    color: #fff;
    font-size: 24px;
    height: fit-content;
    padding: 25px;
    background: var(--color-scheme-dark);
    background: linear-gradient(135deg, var(--color-scheme-dark) 0%, var(--color-scheme-light) 100%);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.content h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.censor {
    text-decoration: line-through;
    color: #ffffffaa;
}

.thoughts {
    font-style: italic;
    font-weight: 300;
}

.skull-emoji {
    position: fixed;
    display: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    z-index: 999;
    pointer-events: none;
}

.repo-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.repo-info p {
    margin: 5px 0;
}

#contributors {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#contributors li {
    margin: 5px;
}

#contributors li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

#contributors li img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #00000033;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    gap: 5px;
}

.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-container h2 {
    margin-bottom: 10px;
}

.profile-container p {
    margin-bottom: 8px;
}

/* https://stackoverflow.com/questions/14942081/detect-if-a-browser-in-a-mobile-device-ios-android-phone-tablet-is-used */
@media (pointer:none), (pointer:coarse) {
    .parallax {
        background-attachment: scroll;
    }

    .parallax-2 {
        background-position: 37.5% 50%;
    }

    .parallax:not(.parallax-1) {
        height: 40vh;
    }
}