@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--mocha-rosewater: #f5e0dc;
	--mocha-flamingo: #f2cdcd;
	--mocha-pink: #f5c2e7;
	--mocha-mauve: #cba6f7;
	--mocha-red: #f38ba8;
	--mocha-maroon: #eba0ac;
	--mocha-peach: #fab387;
	--mocha-yellow: #f9e2af;
	--mocha-green: #a6e3a1;
	--mocha-teal: #94e2d5;
	--mocha-sky: #89dceb;
	--mocha-sapphire: #74c7ec;
	--mocha-blue: #89b4fa;
	--mocha-lavender: #b4befe;
	--mocha-text: #cdd6f4;
	--mocha-subtext-1: #bac2de;
	--mocha-subtext-0: #a6adc8;
	--mocha-overlay-2: #9399b2;
	--mocha-overlay-1: #7f849c;
	--mocha-overlay-0: #6c7086;
	--mocha-surface-2: #585b70;
	--mocha-surface-1: #45475a;
	--mocha-surface-0: #313244;
	--mocha-base: #1e1e2e;
	--mocha-mantle: #181825;
	--mocha-crust: #11111b;
}

@theme inline {
	--color-text-50: var(--mocha-crust);
	--color-text-100: var(--mocha-mantle);
	--color-text-200: var(--mocha-base);
	--color-text-300: var(--mocha-surface-0);
	--color-text-400: var(--mocha-surface-1);
	--color-text-500: var(--mocha-surface-2);
	--color-text-600: var(--mocha-overlay-0);
	--color-text-700: var(--mocha-overlay-2);
	--color-text-800: var(--mocha-subtext-0);
	--color-text-900: var(--mocha-subtext-1);
	--color-text-950: var(--mocha-text);

	--color-background-50: var(--mocha-base);
	--color-background-100: var(--mocha-surface-0);
	--color-background-200: var(--mocha-surface-1);
	--color-background-300: var(--mocha-surface-2);
	--color-background-400: var(--mocha-overlay-0);
	--color-background-500: var(--mocha-overlay-1);
	--color-background-600: var(--mocha-overlay-2);
	--color-background-700: var(--mocha-subtext-0);
	--color-background-800: var(--mocha-subtext-1);
	--color-background-900: var(--mocha-text);
	--color-background-950: var(--mocha-rosewater);

	--color-primary-50: var(--mocha-crust);
	--color-primary-100: var(--mocha-mantle);
	--color-primary-200: var(--mocha-base);
	--color-primary-300: var(--mocha-surface-0);
	--color-primary-400: var(--mocha-surface-1);
	--color-primary-500: var(--mocha-surface-2);
	--color-primary-600: var(--mocha-overlay-0);
	--color-primary-700: var(--mocha-blue);
	--color-primary-800: var(--mocha-lavender);
	--color-primary-900: var(--mocha-text);
	--color-primary-950: var(--mocha-rosewater);

	--color-secondary-50: var(--mocha-crust);
	--color-secondary-100: var(--mocha-mantle);
	--color-secondary-200: var(--mocha-base);
	--color-secondary-300: var(--mocha-surface-0);
	--color-secondary-400: var(--mocha-surface-1);
	--color-secondary-500: var(--mocha-surface-2);
	--color-secondary-600: var(--mocha-overlay-0);
	--color-secondary-700: var(--mocha-pink);
	--color-secondary-800: var(--mocha-mauve);
	--color-secondary-900: var(--mocha-mauve);
	--color-secondary-950: var(--mocha-lavender);

	--color-accent-50: var(--mocha-crust);
	--color-accent-100: var(--mocha-mantle);
	--color-accent-200: var(--mocha-surface-0);
	--color-accent-300: var(--mocha-surface-1);
	--color-accent-400: var(--mocha-surface-2);
	--color-accent-500: var(--mocha-overlay-0);
	--color-accent-600: var(--mocha-overlay-2);
	--color-accent-700: var(--mocha-lavender);
	--color-accent-800: var(--mocha-lavender);
	--color-accent-900: var(--mocha-text);
	--color-accent-950: var(--mocha-rosewater);
}

@utility outfit-* {
	font-family: 'Outfit', ui-sans-serif, system-ui, sans-serif;
	font-optical-sizing: auto;
	font-weight: --value('100', '200', '300', '400', '500', '600', '700', '800', '900');
	font-style: normal;
}

* {
	@apply duration-200;
}

html,
body {
	@apply bg-background-50 text-text-950;
	@apply outfit-400 underline-offset-2;
}

img {
	@apply pointer-events-none select-none;
}

::selection {
	@apply bg-accent-200 text-text-900;
}

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-none;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-accent-800;
}
